.modal {
    display: none;

}

/* Modal pop-up-explore */
.backdrope-explore {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    border-radius: 15px;
    opacity: 1;
    overflow: hidden;
}

.backdrope-explore.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-delay: 500ms;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-explore {
    position: absolute;

    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);

    width: 311px;
    min-height: 350px;

    /* outline: 2px solid red;
  outline-offset: -2px; */

    background-color: white;

    border-radius: 15px;
    opacity: 1;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .modal-explore {
        width: 538px;
        min-height: 412px;
    }
}

.backdrope-explore.is-hidden .modal-explore {
    opacity: 0;
    transform: translate(-50%, -75%);
}

.modal-explore-close-btn {
    position: absolute;
    top: 15px;
    right: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;

    width: 24px;
    height: 24px;
    cursor: pointer;
}

.modal-explore-close-icon {
    stroke: black;
}

.modal-explore-wrapper {
    width: 311px;
    height: 169px;

    background-image: url(../img/pop-up-explore/pieces_of_chocolate_bars.jpg);
    background-repeat: no-repeat;
    background-color: white;
    overflow: hidden;
    /* border-radius: 15px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .modal-explore-wrapper {
        background-image: url(../img/pop-up-explore/pieces_of_chocolate_bars_mob@2x.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .modal-explore-wrapper {
        width: 538px;
        height: 196px;
        background-image: url(../img/pop-up-explore/pieces_of_chocolate_bars_tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .modal-explore-wrapper {
            background-image: url(../img/pop-up-explore/pieces_of_chocolate_bars_tab@2x.jpg);
        }
    }
}

.modal-explore-input {
    padding: 32px 24px;
}

@media only screen and (min-width: 768px) {
    .modal-explore-input {
        padding: 40px;
    }
}

.modal-explore-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;

    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: white;
}

@media only screen and (min-width: 768px) {
    .modal-explore-title {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 28px;
    }
}

.modal-explore-form {
    position: relative;
}

.modal-subscribe-input {
    display: flex;

    padding: 0;
    padding-left: 18px;
    padding-right: 100px;

    width: 100%;
    height: 45px;

    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 25px;
    outline: none;
}

@media only screen and (min-width: 768px) {
    .modal-subscribe-input {
        width: 313px;
        height: 52px;
        padding: 0;
        padding-left: 24px;
    }
}

/* .modal-subscribe-input:hover,
.modal-subscribe-input:focus {
  border: 1.5px solid var(--accent-color)
} */

.modal-explore-name {
    color: orange;
}

.modal-explore-btn {
    position: absolute;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 14px;

    width: 100px;
    height: 45px;
    left: 163px;
    top: 0px;

    background: #fd9222;
    border-radius: 100px;
    color: white;
    border: none;
}

@media only screen and (min-width: 768px) {
    .modal-explore-btn {
        width: 137px;
        height: 52px;
        left: 320px;
    }
}

.reviews-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #00000080;
}

.reviws-modal {
    height: 471px;
    background-color: #fafafa;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 311px;
    padding: 32px 24px;
}

@media only screen and (min-width: 768px) {
    .reviws-modal {
        width: 517px;
        height: 628px;
        padding: 40px;
    }
}

.reviews-btn-close {
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    border-radius: 50%;
    top: 14px;
    right: 14px;
    background-color: transparent;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-icon-close {
    width: 12px;
    height: 12px;
}

@media only screen and (min-width: 768px) {
    .reviews-icon-close {
        width: 14px;
        height: 14px;
    }

    .reviews-btn-close {
        width: 28px;
        height: 28px;
        top: 24px;
        right: 24px;
    }
}

.reviews-btn-close:hover,
.reviews-btn-close:focus {
    background-color: #fcf1e0;
}

.reviews-icon-close {
    fill: black;
    stroke: black;
}

.modal-leave-review-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
    .modal-leave-review-header {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 40px;
    }
}

.part-reviews-header {
    color: orange;
}

.modal-leave-review-field {
    display: block;
    margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
    .modal-leave-review-field {
        margin-bottom: 18px;
    }
}

.modal-leave-review-input {
    width: 100%;
    height: 45px;
    padding-left: 18px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;
}

.modal-leave-review-input::placeholder {
    color: rgba(64, 64, 64, 0.3);
}

@media only screen and (min-width: 768px) {
    .modal-leave-review-input {
        height: 66px;
        padding-left: 24px;
        font-size: 18px;
        line-height: 1.22;
    }
}

.modal-leave-review-input-phone {
    padding-left: 106px;
}

@media only screen and (min-width: 768px) {
    .modal-leave-review-input-phone {
        padding-left: 177px;
    }
}

.leave-review-comment {
    margin-bottom: 18px;
}

.modal-leave-review-field input::placeholder {
    font-size: 14px;
    line-height: 1.21;
    align-items: center;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.modal-leave-review-field {
    position: relative;
}

.modal-leave-review-icon {
    position: absolute;
    top: 14px;
    left: 18px;
    width: 24px;
    height: 18px;
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    .modal-leave-review-icon {
        top: 22px;
        left: 24px;
        width: 32px;
        height: 24px;
    }
}

.modal-icon-ua {
    width: 24px;
    height: 18px;
}

.modal-icon-ua {
    width: 32px;
    height: 24px;
}

.modal-leave-review-phone-code {
    position: absolute;
    top: 14px;
    left: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.21;
    letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
    .modal-leave-review-phone-code {
        font-size: 18px;
        line-height: 1.22;
        top: 24px;
        left: 74px;
    }
}

.modal-leave-review-phone-code::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
    display: inline-block;
    width: 1.5px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
    .modal-leave-review-phone-code::after {
        margin-left: 32px;
        height: 32px;
    }
}

.modal-leave-review-message {
    padding-top: 14px;
    font-size: 14px;
    resize: none;
    letter-spacing: -0.02em;
}

.modal-leave-review-message::placeholder {
    color: rgba(64, 64, 64, 0.3);
    padding-top: 9px;
}

@media only screen and (min-width: 768px) {
    .modal-leave-review-message {
        height: 137px;
        padding-top: 22px;
        font-size: 18px;
    }
}

.modal-leave-review-message::placeholder {
    color: rgba(64, 64, 64, 0.3);
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 1.21px;
}

.reviews-send {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: black;
    min-width: 93px;
    min-height: 41px;
    background: orange;
    border-radius: 100px;
    padding: 12px 28px;
    border: transparent;
}

@media only screen and (min-width: 768px) {
    .reviews-send {
        min-width: 117px;
        padding: 14px 40px;
    }
}

/* hidden modal */
/* .reviews-backdrop {
  display: none;
} */
@media only screen and (min-width: 768px) {
    br {
        display: none;
    }

    .black-part-reviews {
        display: block;
    }
}

.skrollbar {
    height: 3000px;
    background-color: lightblue;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(94, 94, 94, .2);

}

::-webkit-scrollbar-thumb {
    background-color: #ff9524c3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fd9222;
}