/**
  |============================
  | RESET AND NORMALIZE STYLES
  |============================
*/
img {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    display: block;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a {
    margin: 0;
    padding: 0;
}

/**
  |============================
  | BASE STYLES
  |============================
*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subtitle {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

@media only screen and (min-width: 768px) {

    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1136px;
    }
}

.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #1E1823;
}

@media only screen and (min-width: 768px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.footer-container {}

.footer-wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (min-width: 768px) {
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.footer-title {
    max-width: 300px;
    width: 100%;
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #fff;

}

@media only screen and (min-width: 768px) {
    .footer-title {
        font-size: 28px;
        line-height: 1.21;
        margin-bottom: 0px;
    }
}

.footer-title-wrapper {
    color: #FD9222;
}

.footer-thumb {
    display: flex;
    align-items: flex-start;
    gap: 113px;
    margin-bottom: 32px;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .footer-thumb {
        gap: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .footer-thumb {
        gap: 50px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-thumb {
        gap: 63px;
        margin-bottom: 58px;
    }
}

.footer-address {}

.footer-address-desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.footer-address-list {}

.footer-address-item {}

.footer-address-item:nth-child(1) {
    margin-bottom: 4px;
}

.footer-address-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer-social-list {
    display: flex;
    gap: 14px;
}

@media only screen and (min-width: 768px) {
    .footer-social-list {
        gap: 18px;
    }
}

.footer-social-item {}

.footer-social-link {}

.footer-social-icon {}

.footer-nav-wrapper {
    margin-top: 32px;
}

@media only screen and (min-width: 768px) {
    .footer-nav-wrapper {
        margin-top: 24px;
    }
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    column-gap: 24px;
}

@media only screen and (min-width: 768px) {
    .footer-nav-list {
        flex-direction: row;
    }
}

.footer-nav-item {}

.footer-nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}




.modal-new {
    position: relative;
    max-width: 311px;
    width: 100%;
    background: #FAFAFA;
    border-radius: 15px;
}

.modal-new-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
}

.modal-new-close-icon {
    background-color: transparent;
    fill: #FFFFFF;
}

.modal-new-img-wrapper {}

.modal-new-img {}

.modal-new-wrapper {
    padding: 32px;
}

.modal-new-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 24px;
}

.modal-new-title-wrapper {}

.modal-new-form {
    position: relative;
    width: 263px;
    height: 45px;
}

.modal-new-input {
    width: 100%;
    height: 100%;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 25px;
    padding-left: 18px;
    padding-right: 118px;

}

.modal-new-form-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background: #FD9222;
    border-radius: 100px;
}